/* src/styles/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

/* Apply a light theme by default */
:root {
  color-scheme: light;
}

/* Dark theme overrides */
.dark-theme {
  color-scheme: dark;
}

/* Apply smooth transitions for theme changes */
body, .sidebar, .markdown-renderer, .header, .footer, .table-of-contents {
  transition: background-color 0.3s ease, color 0.3s ease;
}